---
---

<html lang="es">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Página de Prueba</title>
	</head>
	<body>
		<h1>Landing de Prueba</h1>
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet, aspernatur, recusandae suscipit accusantium corrupti cumque reprehenderit maiores doloremque, error impedit consectetur commodi modi debitis voluptatibus omnis repellat cum illum? Accusamus quis voluptates pariatur dicta, velit, dignissimos illum quisquam minus illo at blanditiis voluptatibus iste esse, in ea modi voluptatum debitis. Molestias repellat nesciunt totam iste quam! Eveniet voluptatibus nihil a excepturi reiciendis obcaecati nemo tempora atque voluptates blanditiis molestias ipsum aut, commodi dolorum laborum, nostrum repellat. Soluta quo amet magni expedita modi neque, saepe velit fuga voluptates sapiente ducimus cumque praesentium suscipit distinctio? Hic nihil, optio iste mollitia sit amet?
		</p>
		<button>Play</button>
	</body>
</html>
